<html>
    <head>
        <style>
            
                    body{
                        background-color:#222629;
                    }
                
                    .titleWord{
                        font-size:50px;
                        color:#86c232;
                        font-family:sans-serif;
                    }
            </style>
    </head>
    <body>
        <div class="titleWord">
        {{ deleted }}
        <div><a href="{% url 'posts'  %} ">Get back to posts</a></div>
        </div>
    </body>
</html>