<html>
    <head>
        <title>
            post page particular
        </title>
    </head>
    <body>
        this is the particular post page
        <div>
            {{question.text}}
        </div>
        <div>
            <img src ='http://127.0.0.1:8000/images/{{question.image}}'>

        </div>
        Answer: 
        <div>
            <img src = 'http://127.0.0.1:8000/images/{{question.answer}}'>
        </div>
        upvote = {{question.upvote}}     downvote={{question.downvote}}

    </body>
</html>