<html>
    <head>
        <title>
            post page particular
        </title>
    </head>
    <body>
        this is the particular post page
        <div>
            {{question.text}}
        </div>
        <div>
            <img src ='http://127.0.0.1:8000/images/{{question.image}}'>

        </div>
        Answer: 
        <div>
            <img src = 'http://127.0.0.1:8000/images/{{question.answer}}'>
        </div>
        <form action='{% url 'upvote' question.id %}' method = "post" >
            {% csrf_token %}
            <input type="submit" name="upvote" value="upvote">
            upvote={{question.upvote}}
            
        </form >
        <form action='{% url 'downvote' question.id %}' method = "post"> 
            {% csrf_token %}
            <input type="submit" name="downvote" value="downvote">
            downvote={{question.downvote}}

        </form>

        
            {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
           
            <span class=" text-muted font-weight-normal">
              {{ comment.created }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}

        {% if new_comment %}
            <h2>Your comment has been added.</h2>
        {% else %}
            <h2>Add a new comment</h2>
            <form method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary  btn-lg">Add Comment</button>
            </form>
        {% endif %}
       

    </body>
</html>