<html>
    <head>
    <title>
        this is the posts page
    </title>
<style>
.questionText{
    color:white;
    text-decoration:none;
    padding:5px;
    font-size:30px;
}
        body{
            background-color:#222629;
        }
        .questionImages{
            height:500px;
            width:1000px;
        }
        .titleWord{
            font-size:50px;
            color:#86c232;
            font-family:sans-serif;
        }
</style>

    </head>
    <body >
        <div class="titleWord">
            Posts
        </div>
 

        {%load post_tags %}
        {% for question in questions %}
        <div ><a href="{% url 'particularPost' question.id %} " class="questionText">{{question |get_item:'text'}}</a></div>
        <!-- this first part of the url might have to be  -->
        <div>   <a href='http://127.0.0.1:8000/images/{{question | get_item:'image'}}'> <img src='http://127.0.0.1:8000/images/{{question | get_item:'image'}}' class="questionImages"></a></div>
       
        {%endfor%}
    </body>

</html>
