<html>
    <head>
        <title>
            This is the main title 
        </title>
    </head>
    <body>
        this is the search page<br>
            

         <form action="" method = "post" enctype="multipart/form-data">
             {%csrf_token%}
         {{search}}
         <input type="submit">
    {%load post_tags %}
    
        {% for question in questions %}
        <div>        {{question.0| get_item:'text'}}</div>
        <div><img src='http://127.0.0.1:8000/images/{{question.0 | get_item:'image'}}'></div>

        {%endfor%}
    </body>

</html>
